@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);

* {
    box-sizing: border-box;
}html,
body {
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    font-family: 'Patrick Hand SC', cursive;
    width: 100%;
    min-height: 100%;
}

html body h1 {
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    color: #41403e;
    font-size: 2rem;
}
html body section {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 100%;
    min-height: 100%;
    margin-bottom: 0.5rem;
}
/* main{
    margin-top: 5%;
} */
.home{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
}
.home img{
    margin:7% ;
    width: 85%;
    color: #41403e;
    font-size: 0.8rem;
    letter-spacing: 1px;
    outline: none;
    box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px; 
     border: solid 3px #41403e;

}
html body section button {
    align-self: center;
    background: transparent;
    padding: 8px;
    transition: all 1s ease;
    color: #41403e;
    font-size: 0.8rem;
    letter-spacing: 1px;
    outline: none;
    box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  
}

html body section button:hover {
    box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, 0.3);
}

html body section button.lined.thick {
    border: solid 7px #41403e;
}

html body section button.dotted.thick {
    border: dotted 5px #41403e;
}

html body section button.dashed.thick {
    border: dashed 5px #41403e;
}

html body section button.lined.thin {
    border: solid 2px #41403e;
}

html body section button.dotted.thin {
    border: dotted 2px #41403e;
    margin-left: 10%;
    padding: 3px;
}

html body section button.dashed.thin {
    border: dashed 2px #41403e;
}

@media (max-width: 620px) {
    body h1 {
        margin-top: 2rem;
    }

    html body section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 1rem;
    }

    html body section button {
        align-self: center;
        margin-bottom: 2rem;
    }
}

/* Estilos para el contenedor de cartas */
.card-container {
    /* margin-top: 20px; */
    /* Margen superior para separar las cartas del resto del contenido */
    perspective: 800px;
    /* Agrega perspectiva para la rotación 3D */
    height: 210px;
    /* width: 100vh; */
}

/* Estilo para las cartas */



/* Aplicar elevación y sombra cuando el mouse entra en la carta */
.card:hover {
    transform: translateY(-5px);
    /* Mover hacia arriba 5px */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    /* Agregar una ligera sombra */
}

/* Estilo para las cartas con efecto 3D */
.card.enable-3d-effect {
    transition: transform 0.5s;
    /* Agregar transición para suavizar el efecto */
    transform: rotateX(20deg) rotateY(20deg) rotateZ(20deg);
    /* Ajusta los ángulos de rotación según prefieras */
}




